<body class="bodycolor">
	<h2 >
		<strong>Brand:</strong>
		<%= @laptop.brand %>
	</h2>

	<ul>
		<li class="styleblack">
			<strong>Model:</strong>
			<%= @laptop.model %>
		</li>

		<li class="styleblack">
			<strong>Processor Brand:</strong>
			<%= @laptop.processor_brand %>
		</li>

		<li class="styleblack">
			<strong>RAM:</strong>
			<%= @laptop.ram_size %>
		</li>

		<li class="styleblack">
			<strong>Price (€):</strong>
			<%= @laptop.price %>
		</li>
	</ul> 
	
	<p class="styleblack">
		<%= link_to 'Edit', edit_laptop_path(@laptop)%> |
    	<%= link_to 'Back', laptops_path%>
	</p>
	
</body>


