<body>

	<header>
		<h1> Laptops </h1>
	</header>

	<p class="bodycenter">
		<%= image_tag("Portatil_Toshiva.png", height: "300", width: "320", align: "center") %>
		<%= image_tag("Portatil_Apple.jpg", height: "300", width: "400", align: "center") %>

		<% @laptops.each do |laptop|%>  <!-- comentarios -->
			<ul><li><div><strong><%= laptop.brand %> </strong>
			<%= link_to 'Show',  laptop_path(laptop) %>
			<%= link_to 'Edit', edit_laptop_path(laptop) %>
			<%= link_to 'Destroy', laptop_path(laptop), method: :delete, data: { confirm: 'Are you sure?' } %>
		</div></li></ul>
		<% end %>
	</p>

	<p class="bodycenter">
		<%= link_to 'New laptop', new_laptop_path %>  | 
		<%= link_to 'Back', root_path %>
	</p>

</body>