<body class="bodycenter">

<header>
  <h1>New Laptop</h1>
</header>

  <%= form_for @laptop do |f| %>
  <p class="stylemarino">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </p>

  <p class="stylemarino">
    <%= f.label :model %><br>
    <%= f.text_area :model %>
  </p>

  <p class="stylemarino">
    <%= f.label :processor_brand %><br>
    <%= f.text_area :processor_brand %>
  </p>
  
  <p class="stylemarino">
    <%= f.label :ram_size %><br>
    <%= f.text_area :ram_size %>
  </p>

  <p class="stylemarino">
    <%= f.label :price %><br>
    <%= f.text_area :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>

  <p class="style1">
    <%= link_to 'Back', laptops_path %>
  </p>

</body>