<body>

	<header>
		<h1> Backpacks </h1>
	</header>

	<p class="bodycenter">
		<%= image_tag("mochila1.jpg", height: "300", width: "320", align: "center") %>
		<%= image_tag("mochila3.jpg", height: "300", width: "400", align: "center") %>

		<% @backpacks.each do |backpack|%>

		<ul>
			<li>
				<div>
					<strong><%= backpack.model %> </strong>
					<%= link_to 'Show',  backpack_path(backpack) %>
					<%= link_to 'Edit', edit_backpack_path(backpack) %>
					<%= link_to 'Destroy', backpack_path(backpack), method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			</li>
		</ul>

		<% end %>
	</p>

	<p class="bodycenter">
		<br>
		<%= link_to 'New Backpack', new_backpack_path %>  | 
		<%= link_to 'Back', root_path %>
	</p>

</body>