<body class="bodycolor">
	<h2 >
		<strong>Model:</strong>
		<%= @backpack.model %>
	</h2>

	<ul>
		<li class="styleblack">
			<strong>Color:</strong>
			<%= @backpack.color %>
		</li>

		<li class="styleblack">
			<strong>Capacity (in liters):</strong>
			<%= @backpack.capacity %>
		</li>

		<li class="styleblack">
			<strong>Number of pockets:</strong>
			<%= @backpack.number_of_pockets %>
		</li>

		<li class="styleblack">
			<strong>If it is waterproof:</strong>
			<%= @backpack.waterproof %>
		</li>

		<li class="styleblack">
			<strong>Price (€):</strong>
			<%= @backpack.price %>
		</li>
	</ul> 

	<p> 
		<%= image_tag(@backpack.photo, height: "300", width: "320", align: "center") %>
	</p>
    

	<p>
		<%= link_to 'Edit', edit_backpack_path(@backpack)%> |
    	<%= link_to 'Back', backpacks_path %>
	</p>
	
</body>